@charset"utf-8";

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    -webkit-text-size-adjust:none;
    -webkit-font-smoothing: antialiased;    
}
article, footer, header, menu, nav, section, a {
    display: block
}

iframe{
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -100px;
}
:focus {
    outline: 0
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
img {
    border: none;
    width: 100%;
    vertical-align: middle;
}
h1, h2 {
    font-weight: normal;
}
a {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #333;
}
a:visited {
    color: #525252;
}
body {
    background-color: #fff;
    font-size: 12px;
    color: #333;
    font-family: 'Microsoft Yahei';
    overflow-x: hidden;
}
html,body,.view{
    height: 100%;
}
.view .hide {
    display: none;
}
.view .v-list .v-item > div:after,
 .view .b-down:after {
    content: '';
    position: absolute;
    height: 1px;
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5);
    border-bottom: 1px solid #d0d0d0;
    bottom: 0;
    left: 0;
    right: 0;
}
.view .b-down {
    position: relative;
}
.view .v-list .v-item.last > div:after, 
.view .b-down.last:after {
    border: 0;
}
.view .b-up:after {
    content: '';
    position: absolute;
    height: 1px;
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5);
    border-top: 1px solid #e3e5e9;
    top: 0;
    left: 0;
    right: 0;
}
.clearfix:after, .clearfix:before {
    content: ' ';
    display: table;
    clear: both;
}
.view .close-view{
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.view .close-view:before, .view .close-view:after{    
    background: #828181;
    width: 18px;
    left: 10px;
    top: 20px;
}
.view footer,
.view {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}

/**************/
.view .btn {
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 5px 0;
    background: #329BFF;
    border-radius: 4px;
    transition: ease .5s background;
    -webkit-transition: ease .5s background;
}
.view .btn.on{
    color: #fff;
    background: #C1E1FF;
}
.view a.on{
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.view a {
    tap-highlight-color: rgba(0, 0, 0, .3);
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
}
.v-page{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    min-height: 100%;
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
    transition: transform .425s cubic-bezier(.4,.6,.2,1);
    -webkit-transition: transform .425s cubic-bezier(.4,.6,.2,1);
}
/************* icon ***************/
.view .arrow-left:before {
    content: '';
    height: 8px;
    width: 8px;
    display: block;
    border: 2px solid #999;
    border-left-width: 0;
    border-top-width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 23px;
    right: 25px;
}
.clear_val {
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    background: #CCC;
    position: relative;
    margin: 10px 5px;
}
.clear_val:before,.clear_val:after {
    content: '';
    height: 2px;
    width: 12px;
    display: block;
    background: #fff;
    position: absolute;
    top: 9px;
    left: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.clear_val:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.iback1:before {
    content: '';
    height: 12px;
    width: 12px;
    display: block;
    border: 2px solid #ddd;
    border-right-width: 0;
    border-bottom-width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 15px;
    left: 15px;
}
.iback:before {
    content: '';
    height: 8px;
    width: 8px;
    display: block;
    border: 2px solid #6c6c6c;
    border-right-width: 0;
    border-bottom-width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 17px;
    left: 12px;
}
.iback:after {
    content: '';
    height: 2px;
    width: 15px;
    display: block;
    background: #6c6c6c;
    position: absolute;
    top: 21px;
    left: 13px;
}
