@charset"utf-8";
.index{
}
.index .item{	
    margin-left: 15px;
    padding: 10px 0;
}.index .item-body{
	
}
.index .item-body h1{
    font-size: 14px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 46px;
    word-wrap: break-word;
    word-break: break-all;	
}
.index .item-body .time{
    margin-top: 5px;
    color: #bbb;
}
.index .arrow-left:before{
    top: 30px;
}

.index .list > a:nth-child(1){

}

.list-loaded{
    text-align: center;
    padding: 20px;
    color: #aaa;
}