@charset"utf-8";
.index{
}
.index .item{	
    margin-left: 15px;
    padding: 10px 0;
}.index .item-body{
	
}
.index .item-body h1{
    font-size: 14px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 46px;
    word-wrap: break-word;
    word-break: break-all;	
}
.index .item-body .time{
    margin-top: 5px;
    color: #bbb;
}
.index .arrow-left:before{
    top: 30px;
}
.list-loaded{
    text-align: center;
    padding: 20px;
    color: #aaa;
}
.index .list a{
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    opacity: 0;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
}
.index .list.on a{    
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
}
.index .list > a:nth-child(1){
    transition-delay: .1s;
    -webkit-transition-delay: .1s;
}
.index .list > a:nth-child(2){
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
}
.index .list > a:nth-child(3){
    transition-delay: .3s;
    -webkit-transition-delay: .3s;
}
.index .list > a:nth-child(4){
    transition-delay: .4s;
    -webkit-transition-delay: .4s;
}
.index .list > a:nth-child(5){
    transition-delay: .5s;
    -webkit-transition-delay: .5s;
}
.index .list > a:nth-child(6){
    transition-delay: .6s;
    -webkit-transition-delay: .6s;
}
.index .list > a:nth-child(7){
    transition-delay: .7s;
    -webkit-transition-delay: .7s;
}
.index .list > a:nth-child(8){
    transition-delay: .8s;
    -webkit-transition-delay: .8s;
}
.index .list > a:nth-child(9){
    transition-delay: .9s;
    -webkit-transition-delay: .9s;
}
.index .list > a:nth-child(10){
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
}