.v-form{
    margin: 20px;
}
.v-form-inner{

}
input, textarea {
    background: transparent;
    font-family: 'Microsoft Yahei';
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}
input[type="radio"]:checked:after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #6c6c6c;
    border-radius: 100%;
    margin: 4px;
}
input[type="checkbox"]:checked:after{
    content: '';
    position: absolute;
    width: 4px;
    height: 8px;
    border: 3px solid #6c6c6c;
    transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    border-left-style: none;
    border-top-style: none;
    left: 4px;
    top: 1px;
}
input[type="checkbox"],input[type="radio"]{
    margin-right: 5px;
}

.v-form-title.requi:after{
    content: '*';
    font-weight: 700;
    color: #f00;
    margin-left: 5px;
    font-size: 12px
}
.v-form-title:before{
    content: '';
    position: absolute;
    width: 2px;
    background: #6c6c6c;
    display: block;
    height: 15px;
    margin: 13px 0;
}
.v-form-title{
    font-size: 14px;
    color: #333;
    position: relative;
    text-indent: 5px;
    background: #f7f7f7;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 5px;
}
.v-form-box ,.v-form-item{
    margin: 15px 0;
}
.v-form-box {
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    display: -webkit-box;
    display: box;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.v-form-item > label {
    display: block;
    font-size: 14px;
    margin: 20px 0;
}
.v-form-box > .v-form-el{
    display: -webkit-box;
    display: box;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.v-form-h1 {
    font-size: 22px;
    text-align: center;
    padding: 0 0 20px 0;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 28px;
}
.v-form-col.area .v-form-el{
    height: auto;
    padding: 5px 0;
}
.v-form-col .v-form-el{
    padding: 20px 0;
    border: 0;
    margin: 0 4px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background: transparent;
    display: block;
}
.v-form-item input{
    width: 18px;
    height: 18px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    position: relative;
    border-radius: 2px;
}
.v-form-item input[type="radio"] {
    border-radius: 100%;
}